.bc-red{
	border-color: red;
}

.translucido{
	    background: #ffffffe8;
}

.fondo-login {
  background: url('../../../assets/images/futbol_11.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.fondo-register{
	background: url('../../../assets/images/futbol_2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.fondo-forgot{
	background: url('../../../assets/images/futbol_13.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	overflow: hidden;
}


.map_inicio {
	position: relative;
    height: 450px;
}

.d-contents{
	display: contents;
}

.f-right{
	float: right;
}

.m-top-10{
	margin-top: 10px;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.card-body label{
	font-size: 13px;
}

.carousel-item img{
	max-height: 350pt;
}

.carousel-indicators li img {
	max-height: 76pt !important;
}

.tabla_standar .franja_am{
	background: #fbffb9;
}

.tabla_standar .franja_pm{
	background: #7a9dff;
	color: #fff;
}

.tabla_standar .td_hora {
	cursor: pointer;
}

.fs_canchas{
	margin-bottom: 30px;
	background: #fff;
}

.h2_canchas{
  letter-spacing: 18px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.canchas_horarios {
	overflow: hidden;
  border: 1px solid #dee2e6;
  padding: 20px;
  background: #f3f3f3;
}


.tabla_standar .reservado {
	background:red;
	cursor: no-drop;

}

.tabla_standar .out-time {
	background:grey;
	cursor: no-drop;

}